.authentication-block {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 26px;
  width: 27px;
  padding: 0px;

}

.name {
  padding-right: 10px;
  font-family: 'Roboto';
  color: #4F4F4F;
  font-size: 12px;
}
