<!-- <div class="register">
  <h1 class="header-form">Registration</h1>
  <form class="form-registration" (ngSubmit)="register()">
    <input type="text" required />
    <p>First Name</p>
    <input type="text" required />
    <p>Last Name</p>
    <input [(ngModel)]="email" name="email" type="email" required />
    <p>email</p>
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      minlength="6"
      required />
    <p>password</p>
    <button class="button" value="submit" type="submit">Register</button>
    <a
      [routerLink]="['/auth/login']"
      routerLinkActive="router-link-active"
      type="button"
      class="button-form"
      >Login</a
    >
  </form>
</div> -->
<div class="register">
  <form
    [formGroup]="registerForm"
    (submit)="registerForm.valid && submit()"
    class="form-registration">
    <h1 class="header-form">Registration</h1>
    <label class="label" for="firstName">First Name</label>
    <input
      type="text"
      id="firstName"
      placeholder="First Name"
      formControlName="firstName" />
    <span class="text-danger" *ngIf="registerFormControl.firstName.pristine">
      Please enter a first name
    </span>
    <label class="label" for="laststName">Last Name</label>
    <input
      type="text"
      id="lastName"
      placeholder="Last Name"
      formControlName="lastName" />
    <span class="text-danger" *ngIf="registerFormControl.lastName.pristine">
      Please enter a last name
    </span>
    <label class="label" for="email">Email</label>
    <input type="email" id="email" placeholder="Email" formControlName="mail" />
    <span class="text-danger" *ngIf="registerFormControl.mail.errors?.required">
      Please enter a email
    </span>
    <span class="text-danger" *ngIf="registerFormControl.mail.errors?.email">
      Enter a valid email address
    </span>
    <label class="label" for="pasworf">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Password"
      formControlName="password" />
    <span
      class="text-danger"
      *ngIf="registerFormControl.password.errors?.invalidPassword">
      Password should have minimum 8 characters, at least 1 uppercase letter, 1
      lowercase letter and 1 number and 1 special symbol
    </span>
    <button type="submit" class="button">Register</button>
  </form>
</div>
