<div class="filters">
  <p class="filters-title">Sorting by: </p>
  <select class="filters-date" name="date">
    <option value="">date</option>
    <option value="date-increase">date &#8593;</option>
    <option value="dae-decrease">date &#8595;</option>
  </select>
  <select class="filters-count" name="date">
    <option value="">count of view</option>
    <option value="count-increase">count of view &#8593;</option>
    <option value="count-decrease">count of view &#8595;</option>
  </select>
  <p class="filters-word">by word or sentence</p>
  <input class="input-word" type="text">
</div>
